{% extends 'base.html' %}
{% load  static %}

{% block title %}
    <title>الحقوني | تعليمات</title>
{% endblock %}


{% block content %}
    <div class="container w-75">
        <div class="row">
            <div class="col-12">
                <h3 class="title-phone-instructions" style="margin-top: 50px">فكره عامه عن الموقع</h3>
                <p class="mt-3" style="text-align: justify">في حالة ضياع هاتفك أو سرقته ، يمكنك من خلال موقعنا أن تقوم بأسترداده مرة أخرى ، وذلك بتسجيلك لبيانات هاتفك المسروق مع بياناتك الشخصيه ، وحين عرض الهاتف للبيع من قبل الشخص الذي سرقه ، يقوم من يتم عرض الهاتف عليه او من وجده - فى حالة ضياعه -  بالدخول الى الموقع ومراجعة البيانات المسجله لدينا من خلال رقم IMEI الخاص بالهاتف المسروق أو المفقود والذي قمت بتسجيله ضمن بيانات بلاغك ، ومن ثَمَّ معرفته ما اذا كان الهاتف مسروقا ام مفقودا ام لا ، ونتيجة لتسجيلك بيانتك الشخصيه سيقوم الشخص بالتواصل معك لاسترجاع هاتفك مرة أخرى . </p>
                <p class="mt-3" style="text-align: justify">الموقع ينصح وبشده كل مستخدميه ، بضرورة شراء الهواتف بفواتير صحيحه ومن اماكن معتمده ، والاحتفاظ بكامل محتويات الهاتف واهمهم على الاطلاق ، - علبة الهاتف - فهى الشي الوحيد الذي يطلب منك مع الفواتير بالطبع عند قيامك بعمل بلاغ رسمي فى شرطة الاتصالات ، وبدونها حتى شرطة الاتصالات لن تستطيع فعل اى شئ لك</p>
                <p class="mt-3" style="text-align: justify">اما بخصوص من يهوون شراء الهواتف المستعمله ، فالشئ الوحيد الذي يضمن حقهم ويضمن عدم التلاعب من قبل البائع ، هو كتابة عقد بيع هاتف ، واثبات فيه تاريخ الشراء ونوع الهاتف والسعر المدفوع والتاكد من وضع امضاء البائع عليه مع اثبات عنوانه المدون بالبطاقه الشخصيه ، فبدون هذا العقد ايضا لن يضمن لك الموقع او اى جهة رسميه اي تلاعب اذا ماتعرضت للنصب من قبل البائعين</p>
                <p class="mt-3" style="text-align: justify">ومساهمة من الموقع لكل مرتاديه ، تم تدقيق عقد بيع هاتف احترافي ، تمت كتابته ومراجعته مع افضل المحامين المتخصصين في هذا المجال ، يمكنكم تحميله بصورة مجانيه تماما ، فى حالة اجتياجكم اليه</p>
                <p class="mt-3" style="text-align: justify">ونهاية الموقع غير مسؤول عن اى معلومات او اى بيانات غير صحيحه ، يتم تسجيها ، وهى تقع على مسؤولية كاتبيها فقط لا غير ، وايضا الموقع غير مسؤول عن اى معاملات تتم بين صاحب البلاغ ومن يتواصل معه، فدور الموقع قاصر فقط على تقديم خدمه عامه ومجانيه تماما، واى معاملات تتم بين الطرفين الموقع بعيد عنها تماما، ونحذر ايضا الساده مستخدمي الموقع من ادخال اية بيانات مغلوطه ، فهذا قد يعرضكم للمسائلة القانونيه.. لذا وجب التنويه والتنبيه</p>

                {% for file in files %}
                <div class="text-center mt-5 mb-3">
                   <a class="btn btn-outline-primary waves-effect" style="font-weight: bold;text-decoration: none" href="{{ file.file.url }}">تحميل عقد بيع هاتف&nbsp;&nbsp;<i class="fas fa-download ml-1"></i></a>
                </div>
                {% endfor %}

            </div>
        </div>

        <hr class="mb-5 mt-5">

        <div class="row">
            <div class="col-12">
                <h3 class="title-phone-instructions" style="margin-top: 50px">كيف تستخدم الموقع؟</h3>
                <p class="mt-3" style="text-align: justify">بداية يجب عليك تسجيل حساب جديد بالموقع، وبمجرد التسجيل يتم انشاء صفحة شخصيه خاصه بك، تستطيع من خلالها القيام بتسجيل اى عدد من البلاغات، وسيتم حفظها داخل صفحتك الشخصيه، ولكن عليك اولا قبل البدء فى تسجيل بلاغك ، القيام اولا بتحديث بياناتك الشخصيه واضافة كل البيانات المطلوبه منك، وذلك لربط كل بلاغاتك بحسابك الشخصي لدينا، وبدون التحديث لن تستطيع تسجيل اى بلاغ فقد للهاتف،</p>
                <p class="mt-3" style="text-align: justify">تستطيع ايضا من خلال صفحتك الشخصيه ادارة كل بلاغاتك المقدمه، سواء بعرض تفاصل البلاغ، او التعديل على البلاغ او حتى حذفه</p>
                <p class="mt-3" style="text-align: justify">كل ماعليك بعد تسجيلك للبلاغ هو الانتظار حتى قيام الشخص سارق الهاتف بأتخاذ اى اجراء سواء بعرضه للبيع او عمل اى اصلاحات اخرى به لدى اى مركز من مراكز الاتصالات، ومن ثَمَّ استعلام المركز او الشخص الذي يباع له الهاتف عن الهاتف من خلال الموقع ومعرفته بأته تم فقده فى وقت وتاريخ سابقين، وسيتم التواصل معك بأذن الله لاسترجاع هاتفك وذلك من خلال بياناتك الشخصيه الوارده مع البلاغ</p>
                <p class="mt-3" style="text-align: justify">ايضا الامر ليس مرتبطا بالسرقه فقط، من الممكن ايضا فقد الهاتف في اى مكان سواء التاكسي او اى مكان عام، ولمن وجده ايضا يمكنه البحث من خلال موقعنا عن صاحب الهاتف عن طريق رقم ال IMEI ، ومن ثَمَّ الوصول اليك بصوره سريعه واسترجاع هاتفك</p>
                <p class="mt-3" style="text-align: justify">برجاء عند استرجاع الهاتف بأذن الله، القيام بتعديل البلاغ من خلال صفحتك الشخصيه، وتأكيد رجوع الهاتف ، من خلال الضغط على زر تعديل البلاغ</p>
            </div>
        </div>

        <hr class="mb-5 mt-5">

         <div class="row">
            <div class="col-12">
                <h3 class="title-phone-instructions">نصائح عامه</h3>
                <ol class="mt-3" style="text-align: justify;padding: initial;">
                    <li>احتفظ بعلبة الهاتف جيدا ، فهي تحتوى على بيانات هامه من الممكن ان تفيدك مستقبلا .</li>
                    <li>حاول قدر الامكان ان تحتفظ برقم ال IMEI الخاص بهاتفك ، وستجد طريقة معرفته فى الاسفل .</li>
                    <li>احتفظ بصور لهاتفك لربما تحتاج اليها فى المستقبل .</li>
                    <li>حاول ان تضع تلفونك داخل حقيبه ، ولاتظهره كثيرا وخاصة فى الامكان العامه والمواصلات .</li>
                    <li>في حالة فقدك لهاتفك لا قدر الله عليك بالتوجه فورا لاقرب قسم شرطه وعمل بلاغ .</li>
                    <li>اخيرا انصحك بأستخدام موقعنا كمحاوله هامه منك لنشر واقعة سرقة هاتفك ، فبالتاكيد يوجد الكثير والكثير من الشرفاء فى بلدنا والذين سيساعدونك بالتاكيد فى استرجاع تلفونك في حالة ضياعه او سرقته .</li>
                </ol>
            </div>
        </div>

        <hr class="mb-5 mt-5">

        <div class="row">
            <h3 class="title-phone-instructions">كيف تحصل على رقم ال (IMEI)؟</h3>
            <div class="col-5-lg offset-lg-1 col-md-5 offset-md-1 col-sm-12">
                <div class="center">
                   <h4>يمكنك الحصول علي رقم ال IMEI الخاص بهاتفك ، من خلال علبة التلفون نفسه</h4>
                </div>
            </div>
            <div class="col-6-lg col-md-6 col-sm-12 img-from-top">
                <img src="{% static 'img/serial1.jpg' %}" alt="">
            </div>
        </div>

        <hr class="">

        <div class="row">
            <div class="col-5-lg offset-lg-1 col-md-5 offset-md-1 col-sm-12">
                <div class="center">
                    <h4>يمكنك الحصول علي رقم ال IMEI ايضا ،من خلال طلب هذا الكود (*#06#)</h4>
                </div>
            </div>

            <div class="col-6-lg col-md-6 col-sm-12 img-from-top">
                <img src="{% static 'img/serial2.jpg' %}" alt="">
            </div>
        </div>

        <hr class="">

        <div class="row">
            <div class="col-5-lg offset-lg-1 col-md-5 offset-md-1 col-sm-12">
                <div class="center">
                    <h4>يمكنك الحصول علي رقم ال IMEI ايضا من خلال الهاتف نفسه ، اسفل البطاريه</h4>
                </div>
            </div>
            <div class="col-6-lg col-md-6 col-sm-12 img-from-top">
                <img src="{% static 'img/serial4.jpg' %}" alt="">
            </div>
        </div>

    </div>

{% endblock %}