{% autoescape off %}
    مرحبا {{ user.full_name }}

    نرحب بك فى موقع الحقوني ونقدر اهتمامك بالتواجد معنا،
    نعمل من خلال موقعنا على القضاء على ظاهرة سرقة الهواتف المحموله، ونتمنى ان نكون عند حسن ظنكم بنا
    والله من وراء القصد...

    هذا هو رابط استعادة ضبط كلمة المرور الجديده الخاصه بحسابك، برجاء الضغط عليه لكي تتم عملية ضبط كلمة المرور الجديده بنجاح، وتحويلك الى الموقع
    http://{{ domain }}{% url 'set_new_password' uidb64=uid token=token %}
    ملحوظه: الرابط صالح للاستخدام مره واحده فقط .


    فريق عمل موقع الحقوني، يتمنى لكم تجربه ممتعه معنا.
    تقبلوا تحياتنا...

    هذه رسالة استعادة ضبط كلمة المرور .. برجاء لا تعاود الرد على هذه الرساله
{% endautoescape %}
