{% autoescape off %}
    مرحبا {{ user }}

    للاسف لم تتم الموافقه على البلاغ المقدم منك بسرقة هاتفك والذي يحمل رمز ({{ imei }}) على موقع الحقوني .
    وذلك لعدم مطابقة البيانات المدخله او لعدم وضوح رمز الIMEI على صورة علبة الهاتف .

   برجاء اعادة المحاوله وادخال كل البيانات المطلوبه بوضوح وتحديدا صورة رمز الIMEI الموضح على علبة الهاتف .. حتى يتم قبول البلاغ بنجاح .


    فريق عمل موقع الحقوني، يتمنى لكم تجربه ممتعه معنا.
    تقبلوا تحياتنا...

    برجاء لا تعاود الرد على هذه الرساله
{% endautoescape %}
